<h1>{{notification.subject}}</h1>


<div class="btn-bar">
  <button class="button btn-1" (click)="goBack()">Back</button>
  <div class="right-side">
    <button class="button btn-2 btn-delete" (click)="delete(notification.id)">Delete</button>
  </div>
</div>

<div class="notification-details">
  <div class="notification-info">
    <div class="row">
      <strong>Creation date:</strong>
      <span>{{notification.createdAt | date: "dd/MM/yyyy HH:mm:ss"}}</span>
    </div>
    <div class="row">
      <strong>Content:</strong>
      <span>{{notification.content}}</span>
    </div>
    <div class="row">
      <strong>Document:</strong>
      <span><a [routerLink]="['/books', notification.bookId]">{{notification.bookTitle}}</a></span>
    </div>
  </div>
</div>

