<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info&#64;domain.com</li>
      </ul>
    </div>

    <div class="fl_right">
      <ng-container>
        <ul *ngIf="!isLoggedIn; else loggedIn">
          <li><a routerLink=""><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </ng-container>
      <ng-template #loggedIn>
        <ul>
          <li><a routerLink=""><i class="fa fa-lg fa-home"></i></a></li>
          <li><a [routerLink]="['/userprofile']">Profile</a></li>
          <li><a [routerLink]="['']" (click)="logout()">Logout</a></li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>

<router-outlet></router-outlet>