<div class="bgded overlay imgcenter" style="background-image:url('../images/demo/backgrounds/b2.jpg');">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">{{ TEXT.MAIN_NAV_BOOKS | translate }}</h6>
      <!-- ################################################################################################ -->
      <ul>
        <li><a routerLink="" routerLinkActive="active">{{ TEXT.MAIN_NAV_HOME | translate }}</a></li>
        <li><a (click)="goBack()" style="cursor: pointer;">{{ TEXT.MAIN_NAV_BOOKS | translate }}</a></li>
        <li><a>{{book.title}}</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
</div>
<div id="book-details" class="wrapper row3">
    <main class="hoc container clear">

        <div class="content">
            <div class="btn-bar">
                <button class="button btn-1" (click)="goBack()">{{ TEXT.BTN_BACK | translate }}</button>
                <!-- <div class="right-side">
                  <button class="button btn-2 btn-delete" >Delete</button>
                </div> -->
            </div>

            <h1 class="font-x2">{{book.title}}</h1>
            <div class="desc">
                <img class="borderedbox inspace-5" src="../images/demo/cover1.jpg" alt="{{book.title}}">
                <div>
                    <p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>
                    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
                </div>
            </div>
            
            
            <div class="item-section">
                <h1>{{ TEXT.BOOK_DETAILS_HEADER | translate }}</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_TITLE | translate }}:</td>
                            <td>{{book.title}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_AUTHORS | translate }}:</td>
                            <td>Author 1, Author 2, Author 3</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_PUBLISHER | translate }}:</td>
                            <td>{{book.publisher}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_PUBLICATION | translate }}:</td>
                            <td>Wydanie 1.</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_PUBLICATION_YEAR | translate }}:</td>
                            <td>2024</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_LANGUAGE | translate }}:</td>
                            <td>{{book.language}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_PAGES | translate }}:</td>
                            <td>{{book.pages}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_ISBN | translate }}:</td>
                            <td>{{book.isbn}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_NOTES | translate }}:</td>
                            <td>Książka dostępna również jako e-book</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_SUBJECT | translate }}:</td>
                            <td>{{book.subject}}</td>
                        </tr>
                        <tr>
                            <td>{{ TEXT.BOOK_DETAILS_GENRE | translate }}:</td>
                            <td>Book</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="item-section" *ngIf="getLoanableItems().length > 0">
                <h1>{{ TEXT.BOOK_DETAILS_LOANABLE_ITEMS | translate }}</h1>
                <ul>
                    <li *ngFor="let bookItem of getLoanableItems()">
                        <div class="item-section-info">
                            <span><strong>{{ TEXT.BOOK_DETAILS_CALL_NUMBER | translate }}:</strong></span>
                            <span>{{bookItem.barcode}}</span>

                            <span><strong>{{ TEXT.BOOK_DETAILS_STATUS_NAME | translate }}:</strong></span>
                            <span>{{ getStatusLabel(bookItem.status) | translate }}</span>

                            <span><strong>{{ TEXT.BOOK_DETAILS_LOCATION | translate }}:</strong></span>
                            <span>{{bookItem.rack.locationIdentifier}}</span>
                        </div>
                        <div class="item-section-actions">
                            <div class="item-status" [ngClass]="{'available': isAvailable(bookItem), 'unavailable': !isAvailable(bookItem)}">
                                <i class="fa fa-2x fa-check" *ngIf="isAvailable(bookItem)"></i>
                                <i class="fa fa-2x fa-remove" *ngIf="!isAvailable(bookItem)"></i>
                                <span>
                                    {{isAvailable(bookItem) ? (TEXT.BOOK_DETAILS_STATUS_AVAILABLE | translate) : (TEXT.BOOK_DETAILS_STATUS_UNAVAILABLE | translate)}}
                                </span>
                            </div>
                            <div></div>
                            <div></div>
                            <ng-container *ngIf="isAuthenticated() | async">
                                <button *ngIf="!(hasUserBorrowed(bookItem) | async) && !(hasUserReserved(bookItem) | async)"
                                        (click)="makeAReservation(bookItem)">
                                    {{ isAvailable(bookItem) ? (TEXT.BOOK_DETAILS_BTN_REQUEST | translate) : (TEXT.BOOK_DETAILS_BTN_RESERVE | translate) }}
                                </button>
                                <div class="reserved-label" *ngIf="hasUserBorrowed(bookItem) | async">
                                    <i class="fa fa-home"></i>
                                    <span>{{ TEXT.BOOK_DETAILS_STATUS_BORROWED | translate }}</span>
                                </div>
                                <div class="reserved-label" *ngIf="hasUserReserved(bookItem) | async">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>{{ TEXT.BOOK_DETAILS_STATUS_RESERVED | translate }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="item-section" *ngIf="getOnSiteItems().length > 0">
                <h1>{{ TEXT.BOOK_DETAILS_ON_SITE_ITEMS | translate }}</h1>
                <ul>
                    <li *ngFor="let bookItem of getOnSiteItems()">
                        <div class="item-section-info">
                            <span><strong>{{ TEXT.BOOK_DETAILS_CALL_NUMBER | translate }}:</strong></span>
                            <span>{{bookItem.barcode}}</span>

                            <span><strong>{{ TEXT.BOOK_DETAILS_STATUS_NAME | translate }}:</strong></span>
                            <span>{{ getStatusLabel(bookItem.status) | translate }}</span>
                            
                            <span><strong>{{ TEXT.BOOK_DETAILS_LOCATION | translate }}:</strong></span>
                            <span>{{bookItem.rack.locationIdentifier}}</span>
                        </div>
                        <div class="item-section-actions">
                            <div class="item-status" [ngClass]="{'available': isAvailable(bookItem), 'unavailable': !isAvailable(bookItem)}">
                                <i class="fa fa-2x fa-check" *ngIf="isAvailable(bookItem)"></i>
                                <i class="fa fa-2x fa-remove" *ngIf="!isAvailable(bookItem)"></i>
                                <span>
                                    {{isAvailable(bookItem) ? (TEXT.BOOK_DETAILS_STATUS_AVAILABLE | translate) : (TEXT.BOOK_DETAILS_STATUS_UNAVAILABLE | translate)}}
                                </span>
                            </div>
                            <div></div>
                            <div></div>
                            <ng-container *ngIf="isAuthenticated() | async">
                                <button *ngIf="!(hasUserBorrowed(bookItem) | async) && !(hasUserReserved(bookItem) | async)"
                                        (click)="makeAReservation(bookItem)">
                                    {{ isAvailable(bookItem) ? (TEXT.BOOK_DETAILS_BTN_REQUEST | translate) : (TEXT.BOOK_DETAILS_BTN_RESERVE | translate) }}
                                </button>
                                <div class="reserved-label" *ngIf="hasUserBorrowed(bookItem) | async">
                                    <i class="fa fa-home"></i>
                                    <span>{{ TEXT.BOOK_DETAILS_STATUS_BORROWED | translate }}</span>
                                </div>
                                <div class="reserved-label" *ngIf="hasUserReserved(bookItem) | async">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>{{ TEXT.BOOK_DETAILS_STATUS_RESERVED | translate }}</span>
                                </div>
                            </ng-container>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>


<!-- <div class="container">
    <div class="col-12">
        <div class="d-inline-block w-auto">
            <button class="btn btn-primary" (click)="goBack()">Back to results</button>
        </div>
    </div>
    
</div> -->