<div class="position-fixed bottom-0 end-0 p-3" *ngIf="isVisible">
    <div class="custom-toast d-flex align-items-center" role="alert" aria-live="assertive" aria-atomic="true" #toastElement>
      <div class="toast-progress" [ngStyle]="{ width: progressWidth + '%' }"></div>
      <div class="toast-body flex-grow-1 d-flex align-items-center">
        <i class="bi bi-check-circle me-3 text-white fs-4"></i> 
        {{ message | translate }}
      </div>
      <button type="button" class="btn-close btn-close-white ms-2" (click)="closeToast()" aria-label="Close"></button>
    </div>
</div>