<div class="table-responsive">
    <table class="table table-striped table-hover table-sm text-center">
      <thead>
        <tr>
          <th scope="col" class="user-select-none" *ngFor="let column of columns">
            <span class="">{{ column.label | translate }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data; index as i" role="button">
          <td *ngFor="let column of columns" (click)="showDetails(row.id)">
              {{ getValue(row, column.key) | enumName: column.type | translate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>