<div class="c">
    <div class="nav_panel">
        <button class="button btn-1" (click)="exit()">{{ 'WAREHOUSE.EXIT' | translate }}</button>
    </div>

    <div class="content">
        <div class="c-left">
        
            <div class="section">
                <div class="section-header">
                    <span class="section-title">{{ 'WAREHOUSE.HEADER.NEW' | translate }}</span>
                    <ng-container *ngIf="pendingReservations$ | async as pendingResevations">
                        <span *ngIf="pendingResevations.length > 0" class="section-amount">{{pendingResevations.length}}</span>
                    </ng-container>
                </div>
                
                <ng-container *ngIf="pendingReservations$ | async as pendingResevations">
                    <div class="cards" *ngIf="pendingResevations.length > 0; else lackNewOrders">
                        <div class="order-card" *ngFor="let reservation of pendingResevations">
                            <div class="card-content" (click)="active(reservation)">
                                <div class="order-id">{{ 'WAREHOUSE.LABEL.ID' | translate }}: {{reservation.id}}</div>
                                <div class="order-rack">{{reservation.bookItem.rack.locationIdentifier}}</div>
                                <div class="order-date">{{reservation.creationDate | date: "dd.MM.yyyy HH:mm:ss"}}</div>
                            </div>

                            <div class="order-actions" [ngStyle]="{'display': reservation.selected ? 'flex' : 'none'}" >
                                <div class="order-button order-accept" (click)="accept(reservation)">{{ 'WAREHOUSE.BTN.ACCEPT' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #lackNewOrders>
                    <div class="lack-message">{{ 'WAREHOUSE.LABEL.NO_NEW_ORDERS' | translate }}</div>
                </ng-template>
            </div>
        </div>

        <div class="c-right">
            <div class="section">
                <div class="section-header">
                    <span class="section-title">{{ 'WAREHOUSE.HEADER.IN_PROGRESS' | translate }}</span>
                    <ng-container *ngIf="inProgressReservations$ | async as inProgressReservations">
                        <span *ngIf="inProgressReservations.length > 0" class="section-amount">{{inProgressReservations.length}}</span>
                    </ng-container>
                </div>

                <ng-container *ngIf="inProgressReservations$ | async as inProgressReservations">
                    <div class="cards" *ngIf="inProgressReservations.length > 0; else lackInProgressOrders">
                        <div class="order-card" *ngFor="let reservation of inProgressReservations">
                            <div class="card-content-in-progress" (click)="active(reservation)">
                                <strong>{{ 'WAREHOUSE.LABEL.LOCATION' | translate }}:</strong><strong>{{reservation.bookItem.rack.locationIdentifier}}</strong>
                                <strong>{{ 'WAREHOUSE.LABEL.ID' | translate }}:</strong>{{reservation.id}}
                                <strong>{{ 'WAREHOUSE.LABEL.DATE' | translate }}:</strong>{{reservation.creationDate | date: "dd.MM.yyyy HH:mm:ss"}}
                                <strong>{{ 'WAREHOUSE.LABEL.TITLE' | translate }}:</strong>{{reservation.bookItem.book.title}}
                                <strong>{{ 'WAREHOUSE.LABEL.CALL_NUMBER' | translate }}:</strong>{{reservation.bookItem.barcode}}
                            </div>
                            
                            <div class="order-actions" [ngStyle]="{'display': reservation.selected ? 'flex' : 'none'}" >
                                <div class="order-button order-back" (click)="backToPending(reservation)">{{ 'WAREHOUSE.BTN.BACK_TO_PENDING' | translate }}</div>
                                <div class="order-button order-complete" (click)="complete(reservation)">{{ 'WAREHOUSE.BTN.COMPLETE' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container> 

                <ng-template #lackInProgressOrders>
                    <div class="lack-message">{{ 'WAREHOUSE.LABEL.NO_IN_PROGRESS' | translate }}</div>
                </ng-template>
            </div>
        </div>   
    </div>      
</div>
