<div class="c">
    <div class="nav_panel">
        <button class="button btn-1" (click)="exit()">{{ TEXT.WAREHOUSE_EXIT | translate }}</button>
    </div>

    <div class="content">
        <div class="c-left">
        
            <div class="section">
                <div class="section-header">
                    <span class="section-title">{{ TEXT.WAREHOUSE_HEADER_NEW | translate }}</span>
                    <ng-container *ngIf="pendingReservations$ | async as pendingResevations">
                        <span *ngIf="pendingResevations.length > 0" class="section-amount">{{pendingResevations.length}}</span>
                    </ng-container>
                </div>
                
                <ng-container *ngIf="pendingReservations$ | async as pendingResevations">
                    <div class="cards" *ngIf="pendingResevations.length > 0; else lackNewOrders">
                        <div class="order-card" *ngFor="let reservation of pendingResevations">
                            <div class="card-content" (click)="active(reservation)">
                                <div class="order-id">{{ TEXT.WAREHOUSE_LABEL_ID | translate }}: {{reservation.id}}</div>
                                <div class="order-rack">{{reservation.bookItem.rack.locationIdentifier}}</div>
                                <div class="order-date">{{reservation.creationDate | date: "dd.MM.yyyy HH:mm:ss"}}</div>
                            </div>

                            <div class="order-actions" [ngStyle]="{'display': reservation.selected ? 'flex' : 'none'}" >
                                <div class="order-button order-accept" (click)="accept(reservation)">{{ TEXT.WAREHOUSE_BTN_ACCEPT | translate }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #lackNewOrders>
                    <div class="lack-message">{{ TEXT.WAREHOUSE_INFO_NO_NEW_ORDERS | translate }}</div>
                </ng-template>
            </div>
        </div>

        <div class="c-right">
            <div class="section">
                <div class="section-header">
                    <span class="section-title">{{ TEXT.WAREHOUSE_HEADER_IN_PROGRESS | translate }}</span>
                    <ng-container *ngIf="inProgressReservations$ | async as inProgressReservations">
                        <span *ngIf="inProgressReservations.length > 0" class="section-amount">{{inProgressReservations.length}}</span>
                    </ng-container>
                </div>

                <ng-container *ngIf="inProgressReservations$ | async as inProgressReservations">
                    <div class="cards" *ngIf="inProgressReservations.length > 0; else lackInProgressOrders">
                        <div class="order-card" *ngFor="let reservation of inProgressReservations">
                            <div class="card-content-in-progress" (click)="active(reservation)">
                                <strong>{{ TEXT.WAREHOUSE_LABEL_LOCATION | translate }}:</strong><strong>{{reservation.bookItem.rack.locationIdentifier}}</strong>
                                <strong>{{ TEXT.WAREHOUSE_LABEL_ID | translate }}:</strong>{{reservation.id}}
                                <strong>{{ TEXT.WAREHOUSE_LABEL_DATE | translate }}:</strong>{{reservation.creationDate | date: "dd.MM.yyyy HH:mm:ss"}}
                                <strong>{{ TEXT.WAREHOUSE_LABEL_TITLE | translate }}:</strong>{{reservation.bookItem.book.title}}
                                <strong>{{ TEXT.WAREHOUSE_LABEL_CALL_NUMBER | translate }}:</strong>{{reservation.bookItem.barcode}}
                            </div>
                            
                            <div class="order-actions" [ngStyle]="{'display': reservation.selected ? 'flex' : 'none'}" >
                                <div class="order-button order-back" (click)="backToPending(reservation)">{{ TEXT.WAREHOUSE_BTN_BACK_TO_PENDING | translate }}</div>
                                <div class="order-button order-complete" (click)="complete(reservation)">{{ TEXT.WAREHOUSE_BTN_COMPLETE | translate }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container> 

                <ng-template #lackInProgressOrders>
                    <div class="lack-message">{{ TEXT.WAREHOUSE_INFO_NO_IN_PROGRESS | translate }}</div>
                </ng-template>
            </div>
        </div>   
    </div>      
</div>
