<div class="bgded overlay imgcenter" style="background-image:url('../images/demo/backgrounds/b2.jpg');">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Books</h6>
      <!-- ################################################################################################ -->
      <ul>
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a (click)="goBack()" style="cursor: pointer;">Books</a></li>
        <li><a>{{book.title}}</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
</div>
<div id="book-details" class="wrapper row3">
    <main class="hoc container clear">

        <div class="content">

            <h1 class="font-x2">{{book.title}}</h1>
            <div class="desc">
                <img class="borderedbox inspace-5" src="../images/demo/cover1.jpg" alt="{{book.title}}">
                <div>
                    <p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>
                    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
                </div>
            </div>
            
            
            <div class="item-section">
                <h1>Details</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>Title:</td>
                            <td>{{book.title}}</td>
                        </tr>
                        <tr>
                            <td>Authors:</td>
                            <td>Author 1, Author 2, Author 3</td>
                        </tr>
                        <tr>
                            <td>Publisher:</td>
                            <td>{{book.publisher}}</td>
                        </tr>
                        <tr>
                            <td>Publication:</td>
                            <td>Wydanie 1.</td>
                        </tr>
                        <tr>
                            <td>Publication year:</td>
                            <td>2024</td>
                        </tr>
                        <tr>
                            <td>Language:</td>
                            <td>{{book.language}}</td>
                        </tr>
                        <tr>
                            <td>Pages:</td>
                            <td>{{book.pages}}</td>
                        </tr>
                        <tr>
                            <td>ISBN:</td>
                            <td>{{book.isbn}}</td>
                        </tr>
                        <tr>
                            <td>Notes:</td>
                            <td>Książka dostępna również jako e-book</td>
                        </tr>
                        <tr>
                            <td>Subject:</td>
                            <td>{{book.subject}}</td>
                        </tr>
                        <tr>
                            <td>Genre/Form:</td>
                            <td>Book</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="item-section" *ngIf="getLoanableItems().length > 0">
                <h1>Loanable items</h1>
                <ul>
                    <li *ngFor="let bookItem of getLoanableItems()">
                        <div class="item-section-info">
                            <span><strong>Call number:</strong></span>
                            <span>{{bookItem.barcode}}</span>

                            <span><strong>Status:</strong></span>
                            <span>{{getStatusLabel(bookItem.status)}}</span>

                            <span><strong>Shelving location:</strong></span>
                            <span>{{bookItem.rack.locationIdentifier}}</span>
                        </div>
                        <div class="item-section-actions">
                            <div class="item-status" [ngClass]="{'available': isAvailable(bookItem), 'unavailable': !isAvailable(bookItem)}">
                                <i class="fa fa-2x fa-check" *ngIf="isAvailable(bookItem)"></i>
                                <i class="fa fa-2x fa-remove" *ngIf="!isAvailable(bookItem)"></i>
                                <span>{{isAvailable(bookItem) ? "Available" : "Unavailable"}}</span>
                            </div>
                            <div></div>
                            <div></div>
                            <button *ngIf="isAvailable(bookItem)">Request</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="item-section" *ngIf="getOnSiteItems().length > 0">
                <h1>Items available on-site only</h1>
                <ul>
                    <li *ngFor="let bookItem of getOnSiteItems()">
                        <div class="item-section-info">
                            <span><strong>Call number:</strong></span>
                            <span>{{bookItem.barcode}}</span>

                            <span><strong>Status:</strong></span>
                            <span>{{getStatusLabel(bookItem.status)}}</span>
                            
                            <span><strong>Shelving location:</strong></span>
                            <span>{{bookItem.rack.locationIdentifier}}</span>
                        </div>
                        <div class="item-section-actions">
                            <div class="item-status" [ngClass]="{'available': isAvailable(bookItem), 'unavailable': !isAvailable(bookItem)}">
                                <i class="fa fa-2x fa-check" *ngIf="isAvailable(bookItem)"></i>
                                <i class="fa fa-2x fa-remove" *ngIf="!isAvailable(bookItem)"></i>
                                <span>{{isAvailable(bookItem) ? "Available" : "Unavailable"}}</span>
                            </div>
                            <div></div>
                            <div></div>
                            <button *ngIf="isAvailable(bookItem)">Request</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>


<!-- <div class="container">
    <div class="col-12">
        <div class="d-inline-block w-auto">
            <button class="btn btn-primary" (click)="goBack()">Back to results</button>
        </div>
    </div>
    
</div> -->