<h1>{{ name | translate }}</h1>
<ng-container *ngIf="lendings && lendings.length > 0; else lack">
    <button class="save-to-file" (click)="saveAsPDF()">{{ 'BTN.SAVE_TO_FILE' | translate }}</button>
    <table id="table">
        <thead>
            <tr>
                <th>#</th>
                <th class="c2">{{ 'PROFILE.BORROWED_ITEMS.TITLE' | translate }}</th>
                <th>{{ 'PROFILE.BORROWED_ITEMS.RETURN_DATE' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lending of lendings; let i = index">
                <td>{{i + 1}}.</td>
                <td><a [routerLink]="['/books', lending.bookItem.book.id]">{{lending.bookItem.book.title}}</a></td>
                <td>{{lending.dueDate | date: "dd/MM/yyyy"}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #lack>{{ 'PROFILE.BORROWED_ITEMS.LACK' | translate }}</ng-template>