<h1>{{ name | translate }}</h1>
<ng-container *ngIf="completedReservations && completedReservations.length > 0; else lack">
    <button class="save-to-file" (click)="saveAsPDF()">
        {{ 'BTN.SAVE_TO_FILE' | translate }}
    </button>
    <table id="table">
        <thead>
            <tr>
                <th>#</th>
                <th class="c2">{{ 'PROFILE.REQUESTED_ITEMS.COMPLETED.TITLE' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of completedReservations; let i = index">
                <td>{{i + 1}}.</td>
                <td><a [routerLink]="['/books', res.bookItem.book.id]">{{res.bookItem.book.title}}</a></td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #lack>{{ 'PROFILE.REQUESTED_ITEMS.COMPLETED.LACK' | translate }}</ng-template>