<h1>{{ name | translate }}</h1>
<ng-container *ngIf="notificationsPage$ | async as notificationsPage">
  <ng-container *ngIf="notificationsPage._embedded; else lack">
      <div class="btn-bar right-side"> 
        <button class="button btn-2 btn-delete" (click)="deleteSelected()">
          {{ TEXT.PROFILE_NOTIFICATIONS_BTN_DELETE | translate }}
        </button>
        <button #all_btn class="button btn-2" (click)="selectAll()">
          {{ TEXT.PROFILE_NOTIFICATIONS_BTN_SELECT_ALL | translate }}
        </button>
      </div>
           
      <table id="table" >
          <thead>
              <tr>
                  <th>{{ TEXT.PROFILE_NOTIFICATIONS_CREATION_DATE | translate }}</th>
                  <th>{{ TEXT.PROFILE_NOTIFICATIONS_SUBJECT | translate }}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let notification of notificationsPage._embedded.notificationDtoList" >
                  <td [ngClass]="{'bold': !notification.isRead}" class="c1">{{notification.createdAt | date: "dd/MM/yyyy HH:mm:ss"}}</td>
                  <td [ngClass]="{'bold': !notification.isRead}" class="c2">
                    <div class="grid-container">
                      <a style="cursor: pointer;" (click)="showDetails(notification)">
                        {{notification.subject}}
                      </a>
                      <input type="checkbox" [checked]="notification.selected" [(ngModel)]="notification.selected" class="checkbox">
                    </div>
                  </td>
              </tr>
          </tbody>
      </table>

      <app-pagination (pageChange)="loadPage($event)" [page]="notificationsPage.page"></app-pagination>
      
      <div id="bottom"></div>
  </ng-container>
  <ng-template #lack>{{ TEXT.PROFILE_NOTIFICATIONS_LACK | translate }}</ng-template>
</ng-container>
