<h1>{{ name | translate }}</h1>

<div class="filter-container">
        <div>
            <label for="sort">{{ 'PROFILE.USER_HISTORY.SORT.BY_DATE' | translate }}:</label>
            <select id="sort" (change)="onSortChange($event)">
                <option value="desc">{{ 'PROFILE.USER_HISTORY.SORT.DESC' | translate }}</option>
                <option value="asc">{{ 'PROFILE.USER_HISTORY.SORT.ASC' | translate }}</option>`
            </select>
        </div>
        <div>
            <label for="group">{{ 'PROFILE.USER_HISTORY.KIND' | translate }}:</label>
            <select id="group" (change)="onGroupChange($event)">
                <option *ngFor="let type of actionTypes" [value]="type.type">{{ type.name | translate }}</option>
            </select>
        </div>
    </div>

<ng-container *ngIf="actions && actions.length > 0; else lack" (scroll)="onScroll()">
    <table id="table">
        <thead>
            <tr>
                <th>{{ 'PROFILE.USER_HISTORY.DATE' | translate }}</th>
                <th>{{ 'PROFILE.USER_HISTORY.TIME' | translate }}</th>
                <th class="c2">{{ 'PROFILE.USER_HISTORY.DESCRIPTION' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let action of actions; let i = index">
                <td>{{action.createdAt| date: "dd/MM/yyyy"}}</td>
                <td>{{action.createdAt| date: "HH:mm:ss"}}</td>
                <td>{{action.message}}</td>
            </tr>
        </tbody>
    </table>
    <div id="bottom"></div>
</ng-container>
<ng-template #lack>{{ 'PROFILE.USER_HISTORY.LACK' | translate }}</ng-template>