.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 8px;
}

.content {
    background-color: #fff;
    margin: var(--basic-dist);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-header {
    padding: 15px;
    border-bottom: 1px solid var(--light-color);
}

.section-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.section-content .lack-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-btn-panel {
    padding: 0 20px 20px 0;
}

.row {
    display: flex;
    width: 100%;
    margin: 10px;
    font-size: 1.1rem;
}

.row .lab,
.row .val {
    flex: 1;
    box-sizing: border-box;
}

.row .size {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 200px;
}

.row .size .label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .size .label span {
    flex: 1;
    height: 100%;
    align-content: center;
    display: flex;
    align-items: center;
}

.row .size .label i {
    font-size: 1.4rem;
}

.row .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 200;
}
.btn-bar {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-2 {
    margin: 0;
    border: 1.5px solid var(--main-color);
}

.grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    margin: var(--basic-dist);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: var(--radius);
    color: white;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    min-height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    line-height: 1.2;
}

  /*   TILE COLORS   */
.books-all {background: linear-gradient(135deg, #2196f3, #1976d2);}
.books-current {background: linear-gradient(135deg, #ffeb3b, #ff9800);}
.genre {background: linear-gradient(135deg, #4caf50, #388e3c);}
.fines {background: linear-gradient(135deg, #f44336, #d32f2f);}
