<div class="btn-bar">
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goBack()">
        {{ 'CAT.BTN.BACK' | translate }}
    </button>
</div>

<div class="user-main-content">
    
    <div class="content-row">
        <div class="tile-content">
            <div class="wr">
                <div class="card books-current">
                    <h3>{{ 'CAT.USER.ACCOUNT.LENDINGS_CURRENT' | translate }}</h3>
                    <p>{{ user.loanedItemsIds.length }}</p>
                </div>

                <div class="card genre">
                    <h3>{{ 'CAT.USER.ACCOUNT.FAV_GENRE' | translate }}</h3>
                    <p>{{ favGenre || '&ndash;' }}</p>
                </div>
            </div>
        </div>

        <div class="tile-content">
            <div class="wr">
                <div class="card books-all">
                    <h3>{{ 'CAT.USER.ACCOUNT.LENDINGS_ALL' | translate }}</h3>
                    <p>{{ user.totalBooksBorrowed }}</p>
                </div>

                <div class="card fines">
                    <h3>{{ 'CAT.USER.ACCOUNT.LATE_FEES' | translate }}</h3>
                    <p>{{ user.charge | number:'1.2-2' }} zł</p>
                </div>
            </div>
        </div>
    </div>


    <div class="content-row">
        <div class="content">
            <div class="section-header">{{ 'CAT.USER.DETAILS.HEADER' | translate }}</div>    
            <div class="section-content">
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.LAST_NAME' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.lastName | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="text" id="lastName" name="lastName"
                            class="w-100"
                            [(ngModel)]="user.lastName"
                            [attr.placeholder]="'CAT.USER.DETAILS.LAST_NAME' | translate"
                        >
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.FIRST_NAME' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.firstName | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="text" id="firstName" name="firstName"
                            class="w-100"
                            [(ngModel)]="user.firstName"
                            [attr.placeholder]="'CAT.USER.DETAILS.FIRST_NAME' | translate"
                        >
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.BIRTH_DATE' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.dateOfBirth | date: 'dd/MM/yyyy' | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="date" id="dateOfBirth" name="dateOfBirth"
                            class="w-100"
                            [(ngModel)]="user.dateOfBirth" 
                        >
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.GENDER.LABEL' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.gender | enumName: "gender" | nullPlaceholder | translate}}</div>
                        <div *ngIf="isPersonalInfoEditing" class="btn-group w-100">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.gender | enumName: "gender" | nullPlaceholder | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li *ngFor="let gender of genderList" (click)="changeGender(gender)">
                                    <button class="dropdown-item" type="button">
                                        {{gender | enumName: "gender" | nullPlaceholder | translate}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.NATIONALITY' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.nationality | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="text" id="nationality" name="nationality"
                            class="w-100"
                            [(ngModel)]="user.nationality"
                            [attr.placeholder]="'CAT.USER.DETAILS.NATIONALITY' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="!isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.ADDRESS' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>
                            {{user.streetAddress | nullPlaceholder}}, {{user.zipCode | nullPlaceholder}} {{user.city | nullPlaceholder}}, {{user.state | nullPlaceholder}}, {{user.country | nullPlaceholder}}
                        </div>
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.STREET' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="streetAddress" name="streetAddress"
                            class="w-100"
                            [(ngModel)]="user.streetAddress"
                            [attr.placeholder]="'CAT.USER.DETAILS.STREET' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.ZIPCODE' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="zipCode" name="zipCode"
                            class="w-100"
                            [(ngModel)]="user.zipCode"
                            [attr.placeholder]="'CAT.USER.DETAILS.ZIPCODE' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.CITY' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="city" name="city"
                            class="w-100"
                            [(ngModel)]="user.city"
                            [attr.placeholder]="'CAT.USER.DETAILS.CITY' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.STATE' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="state" name="state"
                            class="w-100"
                            [(ngModel)]="user.state"
                            [attr.placeholder]="'CAT.USER.DETAILS.STATE' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.COUNTRY' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="country" name="country"
                            class="w-100"
                            [(ngModel)]="user.country"
                            [attr.placeholder]="'CAT.USER.DETAILS.COUNTRY' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="!isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.PARENTS' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.mothersName | nullPlaceholder}}, {{user.fathersName | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.MOTHER' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="mothersName" name="mothersName"
                            class="w-100"
                            [(ngModel)]="user.mothersName"
                            [attr.placeholder]="'CAT.USER.DETAILS.MOTHER' | translate"
                        >
                    </div>
                </div>
    
                <div *ngIf="isPersonalInfoEditing" class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.FATHER' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <input type="text" id="fathersName" name="fathersName"
                            class="w-100"
                            [(ngModel)]="user.fathersName"
                            [attr.placeholder]="'CAT.USER.DETAILS.FATHER' | translate"
                        >
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.PESEL' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.pesel | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="text" id="pesel" name="pesel"
                            class="w-100"
                            [(ngModel)]="user.pesel"
                            [attr.placeholder]="'CAT.USER.DETAILS.PESEL' | translate"
                        >
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.DETAILS.PHONE' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isPersonalInfoEditing">{{user.phoneNumber | nullPlaceholder}}</div>
                        <input *ngIf="isPersonalInfoEditing" type="text" id="phoneNumber" name="phoneNumber"
                            class="w-100"
                            [(ngModel)]="user.phoneNumber"
                            [attr.placeholder]="'CAT.USER.DETAILS.PHONE' | translate"
                        >
                    </div>
                </div>
            </div>
            <div class="section-btn-panel d-flex justify-content-end">
                <div class="btn-group">
                    <button type="button " class="btn btn-sm" [ngClass]="isPersonalInfoEditing ? 'btn-secondary' : 'btn-outline-secondary'" (click)="editPersonalInfo()">
                        {{ isPersonalInfoEditing ? ('CAT.BTN.SAVE' | translate) : ('CAT.BTN.EDIT' | translate) }}
                    </button>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="section-header">{{ 'CAT.USER.ACCOUNT.HEADER' | translate }}</div>
            <div class="section-content">
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.ACCOUNT.ID' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.id | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.ACCOUNT.EMAIL' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.email | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.CARD.ID' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.card.id | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.CARD.NUM' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.card.barcode | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.CARD.ISSUE_DATE' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.card.issuedAt| date: 'dd/MM/yyyy hh:mm:ss' | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.CARD.STATUS.NAME' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isAccountInfoEditing">{{user.card.status | enumName: "card" | nullPlaceholder | translate}}</div>
                        <div *ngIf="isAccountInfoEditing" class="btn-group w-100">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.card.status | enumName: "card" | nullPlaceholder | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li *ngFor="let cardStatus of cardStatuses" (click)="changeCardStatus(cardStatus)">
                                    <button class="dropdown-item" type="button">
                                        {{cardStatus | enumName: "card" | nullPlaceholder | translate}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.ACCOUNT.DATE_OF_REGISTRATION' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div>{{user.dateOfMembership | date: 'dd/MM/yyyy' | nullPlaceholder}}</div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.ACCOUNT.STATUS.NAME' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isAccountInfoEditing">{{user.status | enumName: "account" | nullPlaceholder | translate}}</div>
                        <div *ngIf="isAccountInfoEditing" class="btn-group w-100">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.status | enumName: "account" | nullPlaceholder | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li *ngFor="let accountStatus of accountStatuses" (click)="changeAccountStatus(accountStatus)">
                                    <button class="dropdown-item" type="button">
                                        {{accountStatus | enumName: "account" | nullPlaceholder | translate}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="data-row">
                    <div class="lab">
                        <div><strong>{{ 'CAT.USER.ROLE.NAME' | translate }}:</strong></div>
                    </div>
                    <div class="val">
                        <div *ngIf="!isAccountInfoEditing">{{user.role | enumName: "role" | nullPlaceholder | translate}}</div>
                        <div *ngIf="isAccountInfoEditing" class="btn-group w-100">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.role | enumName: "role" | nullPlaceholder | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li *ngFor="let role of roles" (click)="changeRole(role)">
                                    <button class="dropdown-item" type="button">
                                        {{role | enumName: "role" | nullPlaceholder | translate}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-btn-panel d-flex justify-content-end">
                <div class="btn-bar">
                    <button type="button" class="btn btn-sm" [ngClass]="isAccountInfoEditing ? 'btn-secondary' : 'btn-outline-secondary'" (click)="editAccountInfo()">
                        {{ isAccountInfoEditing ? ('CAT.BTN.SAVE' | translate) : ('CAT.BTN.EDIT' | translate) }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="content-row">
        <div class="content">
            <div class="section-header">{{ 'CAT.USER.ACCOUNT.LENDINGS_ANNUAL' | translate }}</div>
            <div class="section-content">
                <app-user-activity-chart
                    *ngIf="areAnnualLendingsDataAvailble(); else lack"
                    [data]="user.lendingsPerMonth"
                ></app-user-activity-chart>
            </div>
        </div>

        <div class="content">
            <div class="section-header">{{ 'CAT.USER.ACCOUNT.FAV_GENRES' | translate }}</div>
            <div class="section-content">
                <app-fav-genre-chart
                    *ngIf="user.genresStats && user.genresStats.size > 0; else lack"
                    [data]="user.genresStats"
                ></app-fav-genre-chart>
            </div>
        </div>
    </div>


    <!-- <div class="content-row">
        <div class="content">
            <div class="section-header">{{ TEXT.ADMIN_USER_DETAILS_SECTION_LENDINGS_CURRENT | translate }}</div>
            <div class="section-content">
                <ng-container *ngIf="lendings && lendings.length > 0; else lack">
                    <table id="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="c2">{{ TEXT.PROFILE_BORROWED_ITEMS_TITLE | translate }}</th>
                                <th>{{ TEXT.PROFILE_BORROWED_ITEMS_RETURN_DATE | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lending of lendings; let i = index">
                                <td>{{i + 1}}.</td>
                                <td><a [routerLink]="['/books', lending.bookItem.book.id]">{{lending.bookItem.book.title}}</a></td>
                                <td>{{lending.dueDate | date: "dd/MM/yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>  
                </ng-container>
                
            </div>
            <div class="section-btn-panel">
                <div *ngIf="lendings && lendings.length > 0" class="btn-bar right-side">
                    <button class="button btn-1"  (click)="saveAsPDF()">
                        {{ TEXT.BTN_SAVE_TO_FILE | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>       -->


    <div class="content-row">
        <div class="content">
            <div class="section-header">Historia wypożyczeń</div>
            <div class="section-content">
                <!-- TABELA Z HISTORIĄ WYPOŻYCZEŃ -->
            </div>
        </div>
    </div>
    
</div>



<ng-template #lack>
    <div class="lack-message">
        {{  'DATA.LACK' | translate }}
    </div>
</ng-template>
