.pagination {
    --bs-pagination-color: var(--bs-dark);
    --bs-pagination-hover-color: var(--bs-dark);
    --bs-pagination-active-bg: var(--bs-dark);
    --bs-pagination-active-border-color: var(--bs-dark);
    --bs-pagination-padding-y: 0.1rem;
    --bs-pagination-padding-x: 0.7rem;
}

li {
    cursor: pointer;
}

li a {
    font-size: 0.8rem;
}