.container {
    --sidebar-width: 280px;
    --top-nav-height: 60px;
    --basic-dist: 12px;
    --radius: 7px;
    --light-color: #f7f7f7;
    --sidebar-color: #3e6b96;
    --font-color: #757575;
}

.container {padding: 0; display: flex; flex-direction: row; height: 100vh; }

/* ### SIDEBAR ### */
.sidebar {background-color: var(--sidebar-color); width: var(--sidebar-width); display: flex; flex-direction: column; position: fixed; height: 100vh; transition: transform 0.5s ease-in-out; transform: translateX(-100%);}
.sidebar.active {transform: translateX(0);}
.sidebar .mng-panel {height: 100px;width: 100%; text-align: center; align-content: center;}
.sidebar .mng-panel i {cursor: pointer;}

/* ### LOGO ### */
.logo {min-width: fit-content; padding: 20px 0; color: #fff; text-align: center;}
.logo span:first-child {font-size: 1.1rem; font-weight: 100; text-transform: uppercase;}
.logo span:last-child {font-size: 1.9rem; font-weight: 600;}

/* ### SIDEBAR TILE ### */
.tile {text-align: center; display: flex; flex-direction: row; height: 70px; width: 100%; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,rgba(0, 0, 0, 0.05) 1%,rgba(0, 0, 0, 0.0) 50%,rgba(0, 0, 0, 0.05) 99%,rgba(0, 0, 0, 0.2) 100%); transition: background-image 0.5s ease; font-size: 1.2rem; user-select: none; z-index: 500;}
.tile:not(.active):hover {background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.1) 1%,rgba(0, 0, 0, 0.0) 50%,rgba(0, 0, 0, 0.1) 99%,rgba(255, 255, 255, 0.2) 100%);}
.tile i {width: 50px; height: 100%; font-size: 1.7rem; align-content: center; padding: 10px;}
.tile span {flex: 1; height: 100%; display: flex; align-items: center; padding: 10px;}
.tile.active {font-size: 1.22rem; background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 1%,rgba(0, 0, 0, 0.0) 50%,rgba(0, 0, 0, 0.2) 99%,rgba(255, 255, 255, 0.3) 100%); border-left: 2px solid var(--light-color); border-right: 2px solid var(--light-color); z-index: 500;}

/* ### MAIN CONTENT ### */
.main-content {background-color: var(--light-color); width: auto; flex: 1; display: flex; flex-direction: column; padding: var(--basic-dist); color: var(--font-color); transition: margin-left 0.5s ease-in-out;}
.main-content.expanded {width: 100%; margin-left: var(--sidebar-width);}

/* ### TOP NAVIGATION ### */
.top-nav {background-color: #fff; height: var(--top-nav-height); margin: var(--basic-dist); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: var(--radius); align-content: center; display: flex;}
.top-nav > .left, .top-nav > .middle, .top-nav > .right {flex: 1}
.top-nav > .right {display: flex; justify-content: space-between;}
.top-nav > .right:last-child {margin-right: 10px;}
.top-nav .dropdown .menu span {margin-left: 10px; flex: 1; text-align: left;}
.top-nav .dropdown .menu .wr {width: auto;}
.top-nav .dropdown .menu img {height: 2rem;}
.top-nav .wr {height: 100%; display: flex; width: var(--top-nav-height); align-items: center; justify-content: center;}
.top-nav i {align-content: center; text-align: center; font-size: 2.4rem; cursor: pointer; transition: none; width: 100%;}
.top-nav i:hover {color: var(--sidebar-color);}
.top-nav img {height: 2.5rem; max-width: none;}
.top-nav img:hover {cursor: pointer;}

.top-nav .user .data {display: flex; height: 100%; vertical-align: middle;cursor: pointer;}
.top-nav .user .name {display: flex; flex-direction: column; justify-content: center; margin-right: 10px; height: 100%;}
.top-nav .user .name span:first-child {font-weight: bold;}
.top-nav .user img {height: 100%;}
.top-nav .user .wr {padding: 5px;}
.top-nav .user .dropdown .menu.right::before {
    left: auto;
    right: calc((var(--top-nav-height) / 2) - 2 * 5px);
}


.content {
    background-color: #fff;
    flex: 1;
    margin: var(--basic-dist);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius);
  overflow: hidden; 
}

.pagination {border: none;}
  