.accordion-body ul{padding: 0;}
.accordion-body li{list-style: none; user-select: none; display: flex; justify-content: space-between;}
.accordion-body li:hover{background-color: #1C7AA8; cursor: pointer;}

.selected {color: #ffffff; background-color: #1C7AA8;}

#list ul{margin:0; padding:0; list-style:none;}
#list li{margin:0; padding:15px; display: flex; border-bottom: 1px solid;}
#list ul li:last-child{border: none;}

#list li .img-container{width: 12rem; display: flex; justify-content: center; align-items: center;}
#list li img{height: 10rem;}
#list .list-cont{width: 100%; padding-left: 15px; padding-right: 15px; border-left: 1px solid; border-right: 1px solid;}
#list .list-cont header{font-weight: bold; padding-bottom: 5px; border-bottom: 1px solid; font-size:1.5em; line-height:1.5em;}
#list .list-cont > *{margin-bottom: 10px;}
#list .list-cont .list-cont-row{display: flex;}
#list .list-cont-row div{width: 100%;}
#list li .list-actions{width: 12rem;}

#list li, #list .list-cont, #list .list-cont header{border-color: #D7D7D7;}
