<div class="pending-card" (click)="active(request)">
    <div class="visible-part">
        <div class="px-2">{{number}}.</div>
        <div class="card-content">
            <div class="order-id">ID: {{request.requestId}}</div>
            <div class="order-rack">{{request.rackLocationId}}</div>
            <div *ngIf="request.creationDate | timeAgo as timeAgoResult">
                {{ timeAgoResult.unit | translate: { time: timeAgoResult.value } }}
              </div>
              
        </div>
    </div>
    
    <div class="flex-column justify-content-center p-2" [ngStyle]="{'display': request==selectedRequest ? 'flex' : 'none'}">
        <div class="info">
            <strong>ID:</strong>{{request.requestId}}
            <strong>{{ 'CAT.RACK.LOCATION_ID' | translate }}:</strong><strong>{{request.rackLocationId}}</strong>
            <strong>{{ 'CAT.REQUEST.CREATION_DATE' | translate }}:</strong>{{request.creationDate | date: "dd.MM.yyyy HH:mm:ss"}}
            <strong>{{ 'CAT.BOOK.TITLE' | translate }}:</strong>{{request.bookTitle}}
            <strong>{{ 'CAT.BOOK_ITEM.BARCODE' | translate }}:</strong>{{request.barcode}}
            <strong>{{ 'CAT.BOOK_ITEM.FORMAT.NAME' | translate }}:</strong>{{request.bookFormat | enumName: "book-format" | translate }}
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="accept(request)"> {{ "CAT.BTN.ACCEPT" | translate }} </button>
    </div>
</div>