.rack-card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    cursor: pointer;
    padding: 5px;
}

.rack-card:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}