<div class="container-fluid h-100 d-flex flex-column">
    <h1 class="h2">{{ 'CAT.SIDEBAR.WAREHOUSE.RACKS' | translate }}</h1>
    <div class="row flex-grow-1" style="height: 0;">
        <app-basic-section class="" [name]="'Regały' | translate">
            <ng-container class="" *ngIf="racksPage$ | async as page">

                <div class="rack-list">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Wyszukaj..." [formControl]="searchRacks">
                        <button class="btn add-button" (click)="$event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#addNewRackDialog">
                            <i class="bi bi-plus-lg"></i> Dodaj
                        </button>
                    </div>

                    <div class="list" *ngIf="page.content.length > 0; else lackRacks" (scroll)="loadNextPageOfRacks($event)">
                        <app-card-rack
                            *ngFor="let rack of page.content"
                            [ngClass]="{'custom-focus': rack.id === selectedRack?.id}" 
                            [rack]="rack"
                            [selectedRack]="selectedRack"
                            (onSelect)="activeRack($event)"
                        ></app-card-rack>
                    </div>
                </div>
                
                <div class="rack-info mt-2" >
                    <div *ngIf="selectedRack">
                        <div class="info-header">
                            <h4>{{ selectedRack.name }}</h4>
                            <div class="icon-buttons">
                                <button class="icon-button edit-button" title="Edytuj" (click)="loadValuesToRackEditForm()" data-bs-toggle="modal" data-bs-target="#editRackDialog"><i class="bi bi-pencil-square"></i></button>
                                <button class="icon-button delete-button" title="Usuń" (click)="validateRackDeletion($event)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        
                        <div class="grid">
                            <strong>ID:</strong>{{selectedRack.id }}
                            <strong>Lokalizacja:</strong>{{selectedRack.location}}
                            <strong>Ilość półek:</strong>{{selectedRack.shelvesCount}}
                            <strong>Data utworzenia:</strong>{{selectedRack.createdDate | date: "dd.MM.yyyy HH:mm:ss" }}
                            <strong>Data ostatniej aktualizacji:</strong>{{selectedRack.updatedDate | date: "dd.MM.yyyy HH:mm:ss" }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-basic-section>

        <app-basic-section class="col-12 col-lg-6" [name]="'Półki' | translate" >
            <ng-container class="" *ngIf="shelvesPage$ | async as page">
                <div class="rack-list">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Wyszukaj..." [formControl]="searchShelves">
                        <button class="btn add-button" [disabled]="!selectedRack" [ngClass]="{'disabled': !selectedRack}" (click)="$event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#addNewShelfDialog">
                            <i class="bi bi-plus-lg"></i> Dodaj
                        </button>
                    </div>
    
                    <div class="list" *ngIf="page.content.length > 0; else lackShelves" (scroll)="loadNextPageOfShelves($event)">
                        <app-card-shelf
                            *ngFor="let shelf of page.content"
                            [ngClass]="{'custom-focus': shelf.id === selectedShelf?.id}"
                            [shelf]="shelf"
                            [selectedShelf]="selectedShelf"
                            (onSelect)="activeShelf($event)"
                        ></app-card-shelf>
                    </div>
                </div>

                <div class="rack-info mt-2" >
                    <div *ngIf="selectedShelf">
                        <div class="info-header">
                            <h4>{{ selectedShelf.name }}</h4>
                            <div class="icon-buttons">
                                <button class="icon-button edit-button" title="Edytuj" (click)="loadValuesToShelfEditForm()" data-bs-toggle="modal" data-bs-target="#editShelfDialog"><i class="bi bi-pencil-square"></i></button>
                                <button class="icon-button delete-button" title="Usuń" (click)="validateShelfDeletion($event)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        <div class="grid">
                            <strong>ID:</strong>{{selectedShelf.id}}
                            <strong>Pozycja:</strong>{{selectedShelf.position}}
                            <strong>Ilość książek:</strong>{{selectedShelf.bookItemsCount}}
                            <strong>Data utworzenia:</strong>{{selectedShelf.createdDate | date: "dd.MM.yyyy HH:mm:ss" }}
                            <strong>Data ostatniej aktualizacji:</strong>{{selectedShelf.updatedDate | date: "dd.MM.yyyy HH:mm:ss" }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-basic-section>

        <app-basic-section class="col-12 col-lg-6" [name]="'Książki' | translate">
            <ng-container class="" *ngIf="bookItemsPage$ | async as page">
                <div class="rack-list">
                    <input type="text" class="form-control" placeholder="Wyszukaj..." [formControl]="searchBookItems">

                    <div class="list" *ngIf="page.content.length > 0; else lackBookItems" (scroll)="loadNextPageOfBookItems($event)">
                        <app-card-book-item
                            *ngFor="let bookItem of page.content"
                            [ngClass]="{'custom-focus': bookItem === selectedBookItem}" 
                            [bookItem]="bookItem"
                            [selectedBookItem]="selectedBookItem"
                            (onSelect)="activeBookItem($event)"
                        ></app-card-book-item>
                    </div>
                    
                </div>
                <div class="rack-info mt-2" >
                    <div *ngIf="selectedBookItem">
                        <h4 class="">{{ 'Tytuł książki' }}</h4>
                        <div class="grid">
                            <strong>ID:</strong>{{selectedBookItem.id}}
                            <strong>Kod kreskowy:</strong>{{selectedBookItem.barcode}}
                            <strong>Status:</strong>{{selectedBookItem.status | enumName: 'book-item-status' | translate }}
                            <strong>Data zakupu:</strong>{{selectedBookItem.dateOfPurchase | date: "dd.MM.yyyy" }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-basic-section>
    </div>
</div>

<ng-template #lackRacks>
    <div class="lack-message">
        {{ 'CAT.WAREHOUSE.PENDING_REQUESTS.LACK' | translate }}
    </div>
</ng-template>
<ng-template #lackShelves>
    <div class="lack-message">
        {{ 'NI MA PUEK' | translate }}
    </div>
</ng-template>
<ng-template #lackBookItems>
    <div class="lack-message">
        {{ 'NI MA KSIUNSZEK' | translate }}
    </div>
</ng-template>

<app-modal-dialog [id]="'addNewRackDialog'" [title]="'Dodaj nowy regał'" [submitBtnDisabled]="newRackForm.invalid" (onConfirm)="addRack()">
    <div class="">
        <div class="grid" [formGroup]="newRackForm">
            <strong>Nazwa:</strong><input type="text" class="form-control" placeholder="Wpisz nazwę..." formControlName="name">
            <strong>Lokalizacja:</strong><input type="text" class="form-control" placeholder="Wpisz lokalizację..." formControlName="location">
        </div>
    </div>
</app-modal-dialog>
<app-modal-dialog [id]="'editRackDialog'" [title]="'Edytuj regał'" [submitBtnDisabled]="editRackForm.invalid" (onConfirm)="editRack()">
    <div class="">
        <div class="grid" [formGroup]="editRackForm">
            <strong>Nazwa:</strong><input type="text" class="form-control" placeholder="Wpisz nazwę..." formControlName="name">
            <strong>Lokalizacja:</strong><input type="text" class="form-control" placeholder="Wpisz lokalizację..." formControlName="location">
        </div>
    </div>
</app-modal-dialog>

<app-modal-dialog [id]="'addNewShelfDialog'" [title]="'Dodaj nową półkę'" [submitBtnDisabled]="newShelfForm.invalid" (onConfirm)="addShelf()">
    <div class="">
        <div class="grid" [formGroup]="newShelfForm">
            <strong>Nazwa:</strong><input type="text" class="form-control" placeholder="Wpisz nazwę..." formControlName="name">
        </div>
    </div>
</app-modal-dialog>
<app-modal-dialog [id]="'editShelfDialog'" [title]="'Edytuj półkę'" [submitBtnDisabled]="editShelfForm.invalid" (onConfirm)="editShelf()">
    <div class="">
        <div class="grid" [formGroup]="editShelfForm">
            <strong>Nazwa:</strong><input type="text" class="form-control" placeholder="Wpisz nazwę..." formControlName="name">
        </div>
    </div>
</app-modal-dialog>

<app-modal-dialog [title]="'Usuń regał'" (onConfirm)="deleteRack()" #rackDeleteModal>
    Czy na pewno chcesz usunąć {{ this.selectedRack?.name }}? Ta operacja jest nieodwracalna.
</app-modal-dialog>
<app-modal-dialog [title]="'Usuń półkę'" (onConfirm)="deleteShelf()" #shelfDeleteModal>
    Czy na pewno chcesz usunąć {{ this.selectedShelf?.name }}? Ta operacja jest nieodwracalna.
</app-modal-dialog>

<app-success-toast #successToast></app-success-toast>
<app-failure-toast #failureToast></app-failure-toast>