<div class="bgded overlay imgcenter" style="background-image:url('../images/demo/backgrounds/b2.jpg');">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Books</h6>
      <!-- ################################################################################################ -->
      <ul>
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a>Books</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
</div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <main class="hoc container clear"> 
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="sidebar one_quarter first"> 
          <!-- ################################################################################################ -->
          <!-- <h6>Books</h6> -->
          
          <div class="accordion" id="filtering">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sorting-body" aria-expanded="true" aria-controls="sorting-body">
                  Sort by
                </button>
              </h2>
              <div id="sorting-body" class="accordion-collapse collapse" data-bs-parent="#filtering">
                <div class="accordion-body">
                  <ul>
                    <li *ngFor="let sortType of sortTypes" (click)="sort(sortType.queryParam)" [ngClass]="{'selected': sortType.name === selectedSortTypeName}">{{sortType.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sizing-body" aria-expanded="true" aria-controls="sizing-body">
                  Page size
                </button>
              </h2>
              <div id="sizing-body" class="accordion-collapse collapse" data-bs-parent="#filtering">
                <div class="accordion-body">
                  <ul>
                    <li *ngFor="let size of pageSizes" (click)="changeSize(size)" [ngClass]="{'selected': size === selectedPageSize}">{{size}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#language-body" aria-expanded="true" aria-controls="language-body">
                  Language
                </button>
              </h2>
              <div id="language-body" class="accordion-collapse collapse" data-bs-parent="#filtering">
                <div class="accordion-body">
                  <ul>
                    <li *ngFor="let language of languages" (click)="getAllByLanguage(language.key)" [ngClass]="{'selected': isSelected(language.key)}">
                      <span>{{language.key}}</span>
                      <div>{{language.value}}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        
        <div class="content three_quarter">

          <app-pagination [listComponent]="this" [ngStyle]="{visibility: books ? 'visible' : 'hidden'}"></app-pagination>
          
        
          <div id="list">
            <ul>
              <li *ngFor="let book of books">
                <div class="img-container">
                    <img src="https://bs.katowice.pl/wp-content/uploads/2022/08/1170px-Book_icon_closed_-_Blue_and_gold.svg_.png" alt="Zdjęcie">
                </div>
 
                
                <div class="list-cont">
                    <header>{{book.title}}</header>
                    <div class="list-cont-row">
                        <div><b>Wydawca:</b></div>
                        <div>{{book.publisher}}</div>
                    </div>
                    <div class="list-cont-row">
                        <div><strong>Temat:</strong></div>
                        <div>{{book.subject}}</div>
                    </div>
                </div>
                
                <div class="list-actions">

                </div>
              </li>
            </ul>
          </div>

          <app-pagination [listComponent]="this" [ngStyle]="{visibility: books ? 'visible' : 'hidden'}"></app-pagination>
        </div>

        <div class="clear"></div>
      </main>
    </div>
