:root {
	--main-color: #1C7AA8;
	--button-hover-color: #155A7D;
    --red-color: #c80000;
    --yellow-color: #FF9800; 
    --green-color: #4CAF50;
    --grey-color: #696969;
    --blue-color: #2196F3;

	--font-family-1: Georgia, "Times New Roman", Times, serif;
	--font-family-2: Verdana, Geneva, sans-serif;
}

.btn-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#book-details .btn-bar {
    margin-bottom: 50px;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.button {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.button:hover {
    color: #fff;
    background-color: var(--button-hover-color);  
}

.btn-1 {
    background-color: var(--main-color);
}
  
.btn-2 {
    color: var(--main-color);
    background-color: #fff;
    margin-left: 20px;
    border-top: 1.5px solid var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
}

.btn-delete:hover {
    background-color: var(--red-color);
}