.btn-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.button {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.button:hover {
    color: #fff;
    background-color: var(--button-hover-color);  
}

.btn-1 {
    background-color: var(--main-color);
}
  
.btn-2 {
    color: var(--main-color);
    background-color: #fff;
    margin-left: 20px;
    border-top: 1.5px solid var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
}

.btn-delete:hover {
    background-color: #c80000;
}