<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th 
          scope="col"
          class="user-select-none"
          *ngFor="let column of columns"
          (click)="onSort(column.key)"
          >
          <span class="col-title">{{ column.label | translate }}</span>
          <span class="col-sort"
              [ngClass]="{
                  'asc': sortState.direction === 'asc' && sortState.column === column.key,
                  'desc': sortState.direction === 'desc' && sortState.column === column.key,
              }"
          ></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; index as i">
        <td *ngFor="let column of columns" (click)="onRowClick(row.id)">{{ row[column.key] }}</td>
      </tr>
    </tbody>
  </table>
</div>