<div class="content">
    <div class="section-header">{{ name | translate }}</div>

    <div class="section-content">
        <div class="section-controls">
            <div class="size" dropdown>
                <div class="label">
                    <span>{{selectedSize.value}}</span>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="dropdown">
                    <ul class="menu middle">
                        <li *ngFor="let size of pageSizes" (click)="changeSize(size)"><span>{{size.value}}</span></li>
                    </ul>
                </div>
            </div>
            <input type="text" id="search-users" name="search-users"
                [(ngModel)]="usersToSearch"
                [attr.placeholder]="TEXT.ADMIN_USERS_SEARCH_PLACEHOLDER | translate"
                (input)="searchUsers()"
                required
            >
        </div>
        <ng-container *ngIf="usersPage$ | async as usersPage">

            <div class="table-container">
                <ng-container *ngIf="usersPage._embedded; else lack">
                    <div class="table-header-container">
                        <table>
                            <thead>
                                <tr>
                                    <th class="col-id">{{ TEXT.admin_USERS_LABEL_ID | translate }}</th>
                                    <th class="col-name">{{ TEXT.ADMIN_USERS_LABEL_NAME | translate }}</th>
                                    <th class="col-email">{{ TEXT.ADMIN_USERS_LABEL_EMAIL | translate }}</th>
                                    <th class="col-registered">{{ TEXT.ADMIN_USERS_LABEL_REGISTERED | translate }}</th>
                                    <th class="col-status">{{ TEXT.ADMIN_USERS_LABEL_STATUS | translate }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body-container">
                        <table>
                            <tbody>
                                <tr *ngFor="let user of usersPage._embedded.memberListPreviewDtoAdminList; index as i">
                                    <td class="col-id">{{user.id}}</td>
                                    <td class="col-name">
                                        <a style="cursor: pointer;" (click)="showDetails(user)">
                                            {{user.firstName}} {{user.lastName}}
                                        </a>
                                    </td>
                                    <td class="col-email">{{user.email}}  </td>
                                    <td class="col-registered">{{user.dateOfMembership | date: "dd.MM.yyyy"}}</td>
                                    <td class="col-status">
                                        <div class="account-status" [ngClass]="getStatusClass(user.status)">
                                        {{ user.status | enumName: "account" | nullPlaceholder | translate }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #lack>{{ TEXT.ADMIN_USERS_LACK | translate }}</ng-template>
            </div>

            <app-pagination (pageChange)="loadPage($event)" [page]="usersPage.page"></app-pagination>

        </ng-container> 
    </div>
</div>


