<h1>{{ name | translate }}</h1>

<div class="form-group">
    <label for="search-users">{{ TEXT.ADMIN_USERS_SEARCH_LABEL | translate }}:</label>
    <input type="text" id="search-users" name="search-users"
        [(ngModel)]="usersToSearch"
        [attr.placeholder]="TEXT.ADMIN_USERS_SEARCH_PLACEHOLDER | translate"
        (input)="searchUsers()"
        required
    >
</div>

<ng-container *ngIf="usersPage$ | async as usersPage">
    <ng-container *ngIf="usersPage._embedded; else lack">

        <table>
            <thead>
                <tr>
                    <th>{{ TEXT.admin_USERS_LABEL_ID | translate }}</th>
                    <th>{{ TEXT.ADMIN_USERS_LABEL_NAME | translate }}</th>
                    <th>{{ TEXT.ADMIN_USERS_LABEL_REGISTERED | translate }}</th>
                    <th>{{ TEXT.PROFILE_DETAILS_ACCOUNT_STATUS_NAME | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersPage._embedded.memberDtoList; index as i">
                    <td>{{user.id}}</td>
                    <td class="c1">
                        <a style="cursor: pointer;" (click)="showDetails(user)">
                            {{user.firstName}} {{user.lastName}}
                        </a>
                        <br>
                        {{user.email}}  
                    </td>
                    <td>{{user.dateOfMembership | date: "dd.MM.yyyy"}}</td>
                    <td>
                        <div class="account-status" [ngClass]="getStatusClass(user.status)">
                           {{ user.status | enumName: "account" | nullPlaceholder | translate }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination (pageChange)="loadPage($event)" [page]="usersPage.page"></app-pagination>

    </ng-container>
    <ng-template #lack>{{ TEXT.ADMIN_USERS_LACK | translate }}</ng-template>
</ng-container>