<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h2 mb-0">{{ 'CAT.SIDEBAR.USERS.MAIN' | translate }}</h1>
  
    <button class="btn btn-primary" (click)="goToRegistrationForm()">
      <i class="bi bi-plus-lg"></i> {{ 'CAT.BTN.ADD' | translate }}
    </button>
  </div>
    
  <app-basic-section class="col-12 col-xl-6 col-xxl-6" [name]="'CAT.STATS.USERS_TOTAL' | translate">
    <app-table
      *ngIf="usersPage && usersPage.content; else lack"
      [tableName]="'user-list'"
      [columns]="[
          { key: 'id', label: 'CAT.USER.ACCOUNT.ID' },
          { key: 'firstName', label: 'CAT.USER.DETAILS.FIRST_NAME' },
          { key: 'lastName', label: 'CAT.USER.DETAILS.LAST_NAME' },
          { key: 'email', label: 'CAT.USER.ACCOUNT.EMAIL' },
          { key: 'registrationDate', label: 'CAT.USER.ACCOUNT.DATE_OF_REGISTRATION', type: 'date' },
      ]"
      [data]="usersPage.content || []"
      [page]="usersPage"
      (onUpdate)="updateTable($event)"
      (onRowClick)="showDetails($event)"
    ></app-table>
  </app-basic-section>

<ng-template #lack>{{ 'DATA.LACK' | translate }}</ng-template>