<div class="wrapper row3">
    <main class="hoc container clear"> 
        <div class="sidebar one_quarter first"> 

            <div class="accordion">
                <div *ngFor="let option of options, let i = index" [id]="'op-' + i" class="accordion-item">
                    <h2 class="accordion-header">
                        <button type="button"
                                data-bs-toggle="collapse"
                                [routerLink]="option.routerLink"
                                [ngClass]="option.elements ? 'accordion-button collapsed' : 'list-button'"
                                [attr.aria-expanded]="false" 
                                [attr.data-bs-target]="'#el-' + i" 
                                [attr.aria-controls]="'el-' + i"
                                >
                            {{option.name}}
                        </button>
                    </h2>
                    <div *ngIf="option.elements" [id]="'el-' + i" class="accordion-collapse collapse" [attr.data-bs-parent]="'#op-' + i">
                        <div class="accordion-body">
                            <ul>
                                <li *ngFor="let el of option.elements" 
                                    [ngClass]="{'selected':  false}"
                                    [routerLink]="option.routerLink + '/' + el.routerLink"
                                    >
                                    {{el.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content three_quarter">
            <router-outlet></router-outlet>
        </div>
        
    </main>
  </div>
