<h1>{{ name | translate }}</h1>
<div class="details">
    <header>{{ 'PROFILE.DETAILS.HEADER.ID' | translate }}</header>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.USER_ID' | translate }}:</strong></div>
        <div>{{user?.id | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.EMAIL' | translate }}:</strong></div>
        <div>{{user?.email | nullPlaceholder}}</div>
    </div>
</div>
<div class="details">
    <header>{{ 'PROFILE.DETAILS.HEADER.PERSONAL' | translate }}</header>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.SURNAME' | translate }}:</strong></div>
        <div>{{user?.lastName | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.FORENAME' | translate }}:</strong></div>
        <div>{{user?.firstName | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.BIRTH_DATE' | translate }}:</strong></div>
        <div>{{user?.dateOfBirth | date: 'dd/MM/yyyy' | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.GENDER.NAME' | translate }}:</strong></div>
        <div>{{user?.gender | enumName: "gender" | nullPlaceholder | translate}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.NATIONALITY' | translate }}:</strong></div>
        <div>{{user?.nationality | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.ADDRESS' | translate }}:</strong></div>
        <div>{{user?.address | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.PARENTS' | translate }}:</strong></div>
        <div>{{user?.parentsNames | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.PESEL' | translate }}:</strong></div>
        <div>{{user?.pesel | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.PHONE' | translate }}:</strong></div>
        <div>{{user?.phoneNumber | nullPlaceholder}}</div>
    </div>
</div>
<div class="details">
    <header>{{ 'PROFILE.DETAILS.HEADER.ACCOUNT' | translate }}</header>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.CARD.ID' | translate }}:</strong></div>
        <div>{{user?.card?.id | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.CARD.NUM' | translate }}:</strong></div>
        <div>{{user?.card?.barcode | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.CARD.ISSUE_DATE' | translate }}:</strong></div>
        <div>{{user?.card?.issuedAt | date: 'dd/MM/yyyy hh:mm:ss' | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.CARD.STATUS.NAME' | translate }}:</strong></div>
        <div>{{user?.card?.status | enumName: "card" | nullPlaceholder | translate}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.ACCOUNT.AVAILABILITY_DATE' | translate }}:</strong></div>
        <div>{{user?.dateOfMembership | date: 'dd/MM/yyyy' | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.ACCOUNT.LENT_ITEMS' | translate }}:</strong></div>
        <div>{{user?.totalBooksBorrowed | nullPlaceholder}}</div>
    </div>
    <div class="row">
        <div><strong>{{ 'PROFILE.DETAILS.ACCOUNT.STATUS.NAME' | translate }}:</strong></div>
        <div>{{user?.status | enumName: "account" | nullPlaceholder | translate}}</div>
    </div>
</div>
