<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationFormLabel" aria-hidden="true" #registrationModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationFormLabel">{{ 'CAT.REGISTER.HEADER' | translate }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="container-fluid">
                <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" >
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">{{ 'CAT.USER.DETAILS.FIRST_NAME' | translate }}</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required
                                [ngClass]="{
                                    'is-valid': registrationForm.get('firstName')?.valid && registrationForm.get('firstName')?.touched,
                                    'is-invalid': registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched
                                }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched"></ng-container>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="l</ng-container>astName" class="form-label">{{ 'CAT.USER.DETAILS.LAST_NAME' | translate }}</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" required
                                [ngClass]="{
                                    'is-valid': registrationForm.get('lastName')?.valid && registrationForm.get('lastName')?.touched,
                                    'is-invalid': registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched
                                }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" mb-3">
                            <label for="email" class="form-label">{{ 'CAT.USER.ACCOUNT.EMAIL' | translate }}</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email" required
                                [ngClass]="{
                                    'is-valid': registrationForm.get('email')?.valid && registrationForm.get('email')?.touched,
                                    'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched
                                }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">{{ 'CAT.LOGIN.PASSWORD.LABEL' | translate }}</label>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password" required
                                [ngClass]="{
                                    'is-valid': registrationForm.get('password')?.valid && registrationForm.get('password')?.touched,
                                    'is-invalid': registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched
                                }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"></ng-container>
                            <div class="text-danger small" *ngIf="registrationForm.get('password')?.errors?.['minlength'] && registrationForm.get('password')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_LENGTH' | translate: { length: 8 } }}
                            </div>
                            <div class="text-danger small" *ngIf="registrationForm.get('password')?.errors?.['lowerCase'] && registrationForm.get('password')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_LOWER_LETTER' | translate }}
                            </div>
                            <div class="text-danger small" *ngIf="registrationForm.get('password')?.errors?.['upperCase'] && registrationForm.get('password')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_UPPER_LETTER' | translate }}
                            </div>
                            <div class="text-danger small" *ngIf="registrationForm.get('password')?.errors?.['digit'] && registrationForm.get('password')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_DIGIT' | translate }}
                            </div>
                            <div class="text-danger small" *ngIf="registrationForm.get('password')?.errors?.['specialCharacter'] && registrationForm.get('password')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_SPECIAL_CHAR' | translate }}
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="confirmPassword" class="form-label">{{ 'CAT.REGISTER.PASS_REPEAT' | translate }}</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required
                                [ngClass]="{
                                    'is-valid': !registrationForm.errors?.['mismatch'] && registrationForm.get('password')?.valid && registrationForm.get('confirmPassword')?.touched,
                                    'is-invalid': registrationForm.errors?.['mismatch'] && registrationForm.get('password')?.invalid && registrationForm.get('confirmPassword')?.touched
                                }"
                            >
                            <div class="text-danger small" *ngIf="registrationForm.errors?.['mismatch'] && registrationForm.get('confirmPassword')?.touched">
                                {{ 'CAT.REGISTER.VALID_MSG.PASS_MISMATCH' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="pesel" class="form-label">{{ 'CAT.USER.DETAILS.PESEL' | translate }}</label>
                            <input type="text" class="form-control" id="pesel" name="pesel" formControlName="pesel" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('pesel')?.valid && registrationForm.get('pesel')?.touched,
                                        'is-invalid': registrationForm.get('pesel')?.invalid && registrationForm.get('pesel')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('pesel')?.invalid && registrationForm.get('pesel')?.touched"></ng-container>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="dateOfBirth" class="form-label">{{ 'CAT.USER.DETAILS.BIRTH_DATE' | translate }}</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('dateOfBirth')?.valid && registrationForm.get('dateOfBirth')?.touched,
                                        'is-invalid': registrationForm.get('dateOfBirth')?.invalid && registrationForm.get('dateOfBirth')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('dateOfBirth')?.invalid && registrationForm.get('dateOfBirth')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="gender" class="form-label">{{ 'CAT.USER.DETAILS.GENDER.LABEL' | translate }}</label>
                            <select class="form-select" id="gender" name="gender" formControlName="gender" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('gender')?.valid && registrationForm.get('gender')?.touched,
                                        'is-invalid': registrationForm.get('gender')?.invalid && registrationForm.get('gender')?.touched
                                    }"
                            >
                            <option *ngFor="let gender of genderList" [value]="gender">{{ gender | enumName: 'gender' | translate }}</option>
                            </select>
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('gender')?.invalid && registrationForm.get('gender')?.touched"></ng-container>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="nationality" class="form-label">{{ 'CAT.USER.DETAILS.NATIONALITY' | translate }}</label>
                            <input type="text" class="form-control" id="nationality" name="nationality" formControlName="nationality" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('nationality')?.valid && registrationForm.get('nationality')?.touched,
                                        'is-invalid': registrationForm.get('nationality')?.invalid && registrationForm.get('nationality')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('nationality')?.invalid && registrationForm.get('nationality')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="mothersName" class="form-label">{{ 'CAT.USER.DETAILS.MOTHER' | translate }}</label>
                            <input type="text" class="form-control" id="mothersName" name="mothersName" formControlName="mothersName" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('mothersName')?.valid && registrationForm.get('mothersName')?.touched,
                                        'is-invalid': registrationForm.get('mothersName')?.invalid && registrationForm.get('mothersName')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('mothersName')?.invalid && registrationForm.get('mothersName')?.touched"></ng-container>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="fathersName" class="form-label">{{ 'CAT.USER.DETAILS.FATHER' | translate }}</label>
                            <input type="text" class="form-control" id="fathersName" name="fathersName" formControlName="fathersName" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('fathersName')?.valid && registrationForm.get('fathersName')?.touched,
                                        'is-invalid': registrationForm.get('fathersName')?.invalid && registrationForm.get('fathersName')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('fathersName')?.invalid && registrationForm.get('fathersName')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">{{ 'CAT.USER.DETAILS.STREET' | translate }}</label>
                            <input type="text" class="form-control" id="streetAddress" name="streetAddress" formControlName="streetAddress" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('streetAddress')?.valid && registrationForm.get('streetAddress')?.touched,
                                        'is-invalid': registrationForm.get('streetAddress')?.invalid && registrationForm.get('streetAddress')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('streetAddress')?.invalid && registrationForm.get('streetAddress')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="zipCode" class="form-label">{{ 'CAT.USER.DETAILS.ZIPCODE' | translate }}</label>
                            <input type="text" class="form-control" id="zipCode" name="zipCode" formControlName="zipCode" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('zipCode')?.valid && registrationForm.get('zipCode')?.touched,
                                        'is-invalid': registrationForm.get('zipCode')?.invalid && registrationForm.get('zipCode')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('zipCode')?.invalid && registrationForm.get('zipCode')?.touched"></ng-container>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="city" class="form-label">{{ 'CAT.USER.DETAILS.CITY' | translate }}</label>
                            <input type="text" class="form-control" id="city" name="city" formControlName="city" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('city')?.valid && registrationForm.get('city')?.touched,
                                        'is-invalid': registrationForm.get('city')?.invalid && registrationForm.get('city')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('city')?.invalid && registrationForm.get('city')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="state" class="form-label">{{ 'CAT.USER.DETAILS.STATE' | translate }}</label>
                            <input type="text" class="form-control" id="state" name="state" formControlName="state" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('state')?.valid && registrationForm.get('state')?.touched,
                                        'is-invalid': registrationForm.get('state')?.invalid && registrationForm.get('state')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('state')?.invalid && registrationForm.get('state')?.touched"></ng-container>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="country" class="form-label">{{ 'CAT.USER.DETAILS.COUNTRY' | translate }}</label>
                            <input type="text" class="form-control" id="country" name="country" formControlName="country" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('country')?.valid && registrationForm.get('country')?.touched,
                                        'is-invalid': registrationForm.get('country')?.invalid && registrationForm.get('country')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('country')?.invalid && registrationForm.get('country')?.touched"></ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="phone" class="form-label">{{ 'CAT.USER.DETAILS.PHONE' | translate }}</label>
                            <input type="tel" class="form-control" id="phone" name="phone" formControlName="phone" required
                                    [ngClass]="{
                                        'is-valid': registrationForm.get('phone')?.valid && registrationForm.get('phone')?.touched,
                                        'is-invalid': registrationForm.get('phone')?.invalid && registrationForm.get('phone')?.touched
                                    }"
                            >
                            <ng-container [ngTemplateOutlet]="missField" *ngIf="registrationForm.get('phone')?.invalid && registrationForm.get('phone')?.touched"></ng-container>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'CAT.BTN.CANCEL' | translate }}</button>
            <button type="button" class="btn btn-primary"
                    [ngClass]="{'disabled': this.registrationForm.invalid }"
                    (click)="onSubmit()"
                    data-bs-dismiss="modal"
            >{{ 'CAT.REGISTER.BTN' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #missField>
    <div class="text-danger small">
        {{ 'CAT.REGISTER.VALID_MSG.REQUIRED' | translate }}
    </div>
  </ng-template>