<h1>{{ name | translate }}</h1>
<form (ngSubmit)="onSubmit()" method="post">
    <div *ngIf="phoneIsWrong" class="msg error">
        <p>{{ errorMsg | translate }}</p>
    </div>
    <div *ngIf="phoneIsChanged" class="msg success">
        <p>{{ 'PROFILE.EDIT.PHONE.SUCCESS_MSG' | translate }}</p>
    </div>
    <div class="form-group">
        <label for="new-phone">
            {{ 'PROFILE.EDIT.PHONE.NEW.LABEL' | translate }}:<span class="required">*</span>
        </label>
        <input type="tel" id="new-phone" name="new-phone"
            [(ngModel)]="newPhone"
            [attr.placeholder]="'PROFILE.EDIT.PHONE.NEW.PLACEHOLDER' | translate"
            (input)="checkPhoneNumber()"
            required
        >
    </div>
    <div class="save-button">
        <button type="submit">{{ 'PROFILE.EDIT.PHONE.CHANGE_BTN' | translate }}</button>
    </div>
</form>